In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.metrics.cluster import contingency_matrix

In [3]:
from scipy import sparse as sp

In [4]:
import sys, os, time, fnmatch, itertools, re
from math import log

In [5]:
# https://stackoverflow.com/questions/2186525/use-a-glob-to-find-files-recursively-in-python
def get_fnames(dirname, glob='*.tree'):
    matches = []
    for root, dirnames, filenames in os.walk(dirname):
        for filename in fnmatch.filter(filenames, glob):
            matches.append(os.path.join(root, filename))
    return matches

In [6]:
fnames_treefiles = get_fnames('data/trimmed_years/infomap_out/')
fnames_treefiles = pd.DataFrame(fnames_treefiles, columns=['fpath'])
fnames_treefiles['year'] = fnames_treefiles.fpath.apply(lambda x: re.search(r'-(\d\d\d\d)\.', x).group(1)).astype(int)
fnames_treefiles = fnames_treefiles.sort_values('year').set_index('year').fpath

In [7]:
def get_tree_df(fname):

    with open(fname, 'r') as f:
        rows = []
        for line in f:
            if line[0] == "#":
                continue
            
            line = line.strip().split(' ')
            pid = int(line[2].strip('"'))
            cl = line[0]
            rank = float(line[1])
            
            rows.append( (pid, rank, cl) )
    df = pd.DataFrame(rows, columns=['pid', 'paper_rank', 'cl'])
    df['cl_bottom'] = df.cl.apply(lambda x: ':'.join(x.split(':')[:-1])).astype('category')
#     df['cl_top'] = df.cl.apply(lambda x: x.split(':')[0]).astype('category')
    
    df = df.sort_values('pid')

    return df

In [8]:
# pointwise mutual information
# https://stackoverflow.com/questions/35850582/can-pandas-dataframe-efficiently-calculate-pmi-pointwise-mutual-information
def pmi_from_df(dff, x, y):
    df = dff.copy()
    df['f_x'] = df.groupby(x)[x].transform('count')
    df['f_y'] = df.groupby(y)[y].transform('count')
    df['f_xy'] = df.groupby([x, y])[x].transform('count')
    df['pmi'] = np.log(len(df.index) * df['f_xy'] / (df['f_x'] * df['f_y']) )
    return df

In [9]:
def _get_cl_level(x, level=2):
    spl = x.split(':')[:-1]
    if level == -1:
        # special case for level == -1
        return ':'.join(spl)
    if len(spl) < level:
        return 'NA'
    else:
        return ':'.join(spl[:level])

In [10]:

def get_contingency_matrix(left, right):
    # left and right are arrays of cluster assignments (the 'codes' for pandas categories)
    return contingency_matrix(left, right, sparse=True)

def get_assignments(df, level):
    x = df.cl.apply(_get_cl_level, level=level)
    x = x.astype('category')
    return x


def get_category_name_from_code(s, code):
    return s.cat.categories[code]

In [11]:
def all_pmis_from_contingency(contingency, normalized=False):
    contingency_sum = contingency.sum()
    pi = np.ravel(contingency.sum(axis=1))
    pj = np.ravel(contingency.sum(axis=0))
    contingency_nzx, contingency_nzy, contingency_nz_val = sp.find(contingency)
    pi_diag = sp.diags(pi)
    pj_diag = sp.diags(pj)
    m = np.dot(pi_diag, contingency)
    m = np.dot(m, pj_diag)
    m = m.power(-1)
    m = m.multiply(contingency)
    m = m * contingency_sum
    mnzx, mnzy, mnz_val = sp.find(m)
    mnz_val = np.log(mnz_val)
    if normalized:
        mnz_val = mnz_val / (-np.log(contingency_nz_val/float(contingency_sum)))
    return np.array(zip(mnzx, mnzy, mnz_val), dtype=[('x_idx', int), ('y_idx', int), ('pmi', np.float)])

In [12]:
def get_all_pmis_one_level(df_left, df_right, level_left=-1, level_right=-1, normalized=True):
    # get the pmis for a (bottom level) cluster on the left against the clusters of <level> on the right
    
    left = get_assignments(df_left, level=level_left)
    left_codes = left.cat.codes
    right = get_assignments(df_right, level=level_right)
    right_codes = right.cat.codes
    contingency = get_contingency_matrix(left_codes, right_codes)
    
    pmis = all_pmis_from_contingency(contingency, normalized=normalized)
    return pmis, left, right

In [13]:
def find_max_depth(df_list):
    max_depth = 0
    for df in df_list:
        depth = df.cl_bottom.apply(lambda x: len(x.split(':')))
        this_max_depth = depth.max()
        if this_max_depth > max_depth:
            max_depth = this_max_depth
    return max_depth

def align_two_dfs(df1, df2, colname='pid'):
    df1 = df1[df1[colname].isin(df2[colname])]
    df2 = df2[df2[colname].isin(df1[colname])]
    return df1, df2

from collections import defaultdict

def get_all_levels_data(left_df, right_df, max_depth=None):
    # may take some time
    
    if max_depth is None:
        max_depth = find_max_depth([left_df, right_df])
    
    # make both dfs contain the same papers
    left_df, right_df = align_two_dfs(left_df, right_df)
    
    levels = range(1,max_depth)
    data = defaultdict(dict)
    for level_left, level_right in itertools.product(levels, repeat=2):
        this_data = get_all_pmis_one_level(left_df, right_df, level_left, level_right)
        data[level_left][level_right] = this_data
    return data

In [14]:
def data_to_df(data):
    dfs_pmi = []
    for level_left in data:
        for level_right in data[level_left]:
            this_data = data[level_left][level_right]
            this_df_pmi = pd.DataFrame(this_data[0])
            this_df_pmi['level_left'] = level_left
            this_df_pmi['level_right'] = level_right
#             this_df_pmi['cl_left'] = this_df_pmi['x_idx'].apply(lambda x: get_category_name_from_code(this_data[1], x))
#             this_df_pmi['cl_right'] = this_df_pmi['y_idx'].apply(lambda x: get_category_name_from_code(this_data[2], x))
            this_df_pmi['cl_left'] = this_df_pmi['x_idx'].map(pd.Series(this_data[1].cat.categories))
            this_df_pmi['cl_right'] = this_df_pmi['y_idx'].map(pd.Series(this_data[2].cat.categories))
            dfs_pmi.append(this_df_pmi)
    return pd.concat(dfs_pmi)

In [15]:
def get_all_levels_df(left_df, right_df, max_depth=None, return_data=True):
    data = get_all_levels_data(left_df, right_df, max_depth=max_depth)
    df = data_to_df(data)
    if return_data is True:
        return df, data
    else:
        return df

In [16]:
# def _get_cl_name(row, data, side='right'):
#     level_left = row['level_left']
#     level_right = row['level_right']
#     if side == 'right':
#         idx = int(row['y_idx'])
#         side_idx = 2
#     elif side == 'left':
#         idx = int(row['x_idx'])
#         side_idx = 1
#     return get_category_name_from_code(data[level_left][level_right][side_idx], idx)

In [17]:
years = [1980, 1990]
# fnames = fnames_treefiles.loc[1980:1970].values
fnames = [fnames_treefiles.loc[x] for x in years]
print(fnames)
dfs = []
for fname in fnames:
    df = get_tree_df(fname)
    dfs.append(df)

['data/trimmed_years/infomap_out/jstor_trimmed-1980.tree', 'data/trimmed_years/infomap_out/jstor_trimmed-1990.tree']

In [18]:
start = time.time()
df_data, data = get_all_levels_df(dfs[0], dfs[1], return_data=True)
end = time.time()
print("{:.2f} seconds".format(end-start))

120.91 seconds

In [19]:
# df_data.to_csv('test_year_trim_pmi_1980-1990.csv', index=False)

In [21]:
df

             pid    paper_rank             cl    cl_bottom cl_top
218951         1  0.000000e+00    1:9:22:62:2    1:9:22:62      1
76831          2  0.000000e+00   1:2:8:87:3:2   1:2:8:87:3      1
212911         3  6.964010e-07    1:9:11:56:2    1:9:11:56      1
76742          5  7.958870e-07   1:2:8:78:1:3   1:2:8:78:1      1
130797         6  0.000000e+00    1:4:188:4:5    1:4:188:4      1
65849         46  3.410940e-07    1:2:5:23:24     1:2:5:23      1
136228        52  3.410940e-07      1:4:647:2      1:4:647      1
369333        57  0.000000e+00   1:24:315:3:2   1:24:315:3      1
942304        72  0.000000e+00         8912:2         8912   8912
67808         74  1.115120e-06    1:2:5:127:5    1:2:5:127      1
438218       137  0.000000e+00      1:46:6:14       1:46:6      1
101945       138  9.251780e-06      1:3:127:4      1:3:127      1
134546       139  0.000000e+00    1:4:435:1:3    1:4:435:1      1
134733       140  5.116420e-07      1:4:453:3      1:4:453      1
137256       141  1.705470e-07      1:4:913:1      1:4:913      1
129292       142  6.821890e-07    1:4:130:2:1    1:4:130:2      1
129234       143  2.470090e-06      1:4:128:7      1:4:128      1
75265        144  3.410940e-07    1:2:7:250:1    1:2:7:250      1
72260        145  3.510430e-06      1:2:7:1:8      1:2:7:1      1
118150       146  8.527360e-07   1:3:1106:1:1   1:3:1106:1      1
963837       190  1.705470e-07        19679:1        19679  19679
71091        191  2.273960e-07   1:2:6:54:6:1   1:2:6:54:6      1
63792        193  1.125610e-06   1:2:4:91:1:1   1:2:4:91:1      1
116255       194  3.500710e-07  1:3:846:2:2:1  1:3:846:2:2      1
136981       195  1.949110e-07      1:4:811:2      1:4:811      1
958421       197  1.705470e-07        16971:1        16971  16971
207223       251  0.000000e+00   1:9:4:93:1:3   1:9:4:93:1      1
63479        252  1.155930e-06   1:2:4:69:1:1   1:2:4:69:1      1
76744        253  2.842450e-07   1:2:8:78:1:5   1:2:8:78:1      1
256144       257  5.542780e-07    1:11:90:3:2    1:11:90:3      1
...          ...           ...            ...          ...    ...
181325  41289328  0.000000e+00      1:7:64:27       1:7:64      1
192707  41289329  0.000000e+00      1:8:53:81       1:8:53      1
200361  41289330  0.000000e+00    1:8:575:4:1    1:8:575:4      1
348759  41289332  0.000000e+00     1:21:19:19      1:21:19      1
189833  41289333  0.000000e+00      1:8:7:119        1:8:7      1
190075  41289338  0.000000e+00      1:8:9:109        1:8:9      1
190647  41289339  0.000000e+00     1:8:16:101       1:8:16      1
3713    41289340  0.000000e+00      1:1:9:247        1:1:9      1
197474  41289341  0.000000e+00     1:8:277:11      1:8:277      1
188499  41289342  0.000000e+00      1:8:1:340        1:8:1      1
188500  41289343  0.000000e+00      1:8:1:341        1:8:1      1
9167    41289344  0.000000e+00      1:1:42:89       1:1:42      1
191234  41289345  0.000000e+00      1:8:24:63       1:8:24      1
188501  41289346  0.000000e+00      1:8:1:342        1:8:1      1
315635  60000037  1.836660e-07    1:16:26:1:8    1:16:26:1      1
359935  60000100  0.000000e+00     1:22:433:3     1:22:433      1
487043  60000101  1.705470e-07      1:287:3:1      1:287:3      1
487036  60000108  3.410940e-07      1:287:1:2      1:287:1      1
178104  60000113  0.000000e+00      1:7:7:157        1:7:7      1
218286  60000115  0.000000e+00    1:9:21:22:9    1:9:21:22      1
202406  60000117  0.000000e+00    1:9:1:46:23     1:9:1:46      1
412627  60000125  0.000000e+00      1:34:68:8      1:34:68      1
284596  70000906  0.000000e+00     1:13:59:30      1:13:59      1
320026  70000909  0.000000e+00      1:17:8:85       1:17:8      1
320653  70000914  0.000000e+00     1:17:24:22      1:17:24      1
887018  70002103  0.000000e+00      4:2:48:10       4:2:48      4
322860  70002310  0.000000e+00    1:17:115:16     1:17:115      1
89123   70002807  0.000000e+00     1:3:1:47:4     1:3:1:47      1
344161  80000072  1.541430e-06      1:20:77:5      1:20:77      1
341579  80000073  3.339450e-06      1:20:2:18       1:20:2      1

[988728 rows x 5 columns]

In [199]:
subset = df_data[df_data.pmi>0]
gb = subset.groupby('cl_left')

In [208]:
gbmax = gb.pmi.max()
gbmax[gbmax==1].count()

18052

In [211]:
gb2 = subset[subset.pmi==1].groupby('cl_left')
gb2.filter(lambda x: len(x)>1).sort_values('cl_left')

,x_idx,y_idx,pmi,level_left,level_right,cl_left,cl_right
9652,534,2343,1.0,4,3,1:10:14:31,1:14:287
9701,534,5728,1.0,4,4,1:10:14:31,1:14:287:1
106839,378,80642,1.0,5,4,1:10:2:72:2,4:6:43:3
42812,378,38745,1.0,5,5,1:10:2:72:2,4:6:43:3:1
10791,679,9614,1.0,5,5,1:114:2:2:4,1:29:1:55:1
23356,679,18027,1.0,5,4,1:114:2:2:4,1:29:1:55
45404,2192,12650,1.0,4,3,1:11:305:3,1:44:93
42859,2192,29969,1.0,4,4,1:11:305:3,1:44:93:1
42850,2846,29960,1.0,4,4,1:11:87:7,1:44:82:1
45395,2846,12643,1.0,4,3,1:11:87:7,1:44:82
50301,3527,35934,1.0,4,4,1:12:1:138,1:6:1631:1
54931,3527,16082,1.0,4,3,1:12:1:138,1:6:1631
23068,1389,20852,1.0,5,5,1:12:21:12:4,1:9:26:21:2
54612,1389,42141,1.0,5,4,1:12:21:12:4,1:9:26:21
50905,1670,39233,1.0,5,4,1:12:37:9:1,1:83:30:1
21500,1670,19394,1.0,5,5,1:12:37:9:1,1:83:30:1:1
51464,4194,36916,1.0,4,4,1:12:40:4,1:6:495:1
56566,4194,16722,1.0,4,3,1:12:40:4,1:6:495
3887,233,3776,1.0,6,6,1:12:53:4:2:2,1:9:90:2:2:2
23103,233,22198,1.0,6,5,1:12:53:4:2:2,1:9:90:2:2
13750,2286,6741,1.0,5,3,1:12:8:29:3,1:218:3
17535,2286,13345,1.0,5,4,1:12:8:29:3,1:218:3:1
38600,2521,28981,1.0,5,4,1:135:2:3:2,1:41:5:30
17201,2521,15514,1.0,5,5,1:135:2:3:2,1:41:5:30:3
1010,5784,937,1.0,4,6,1:13:33:17,1:12:34:1:7:1
4406,5784,3707,1.0,4,5,1:13:33:17,1:12:34:1:7
61242,8146,18710,1.0,4,3,1:16:120:5,1:8:325
54874,8146,39802,1.0,4,4,1:16:120:5,1:8:325:3
60262,8520,43543,1.0,4,4,1:16:263:3,1:9:6:63
23723,8520,21847,1.0,4,5,1:16:263:3,1:9:6:63:1
...,...,...,...,...,...,...,...
40637,64445,37861,1.0,4,5,3:5:32:3,3:69:7:1:1
104634,64445,77810,1.0,4,4,3:5:32:3,3:69:7:1
107006,64701,34003,1.0,4,3,3:64:17:3,3:39:7
100835,64701,74854,1.0,4,4,3:64:17:3,3:39:7:1
19335,49690,17421,1.0,5,5,3:6:18:3:3,1:52:45:1:1
43325,49690,32689,1.0,5,4,3:6:18:3:3,1:52:45:1
92959,65079,68881,1.0,4,4,3:6:36:1,3:11:37:1
35792,65079,33246,1.0,4,5,3:6:36:1,3:11:37:1:1
35353,11759,33212,1.0,6,5,3:6:5:4:3:2,3:11:21:2:1
76386,11759,68827,1.0,6,4,3:6:5:4:3:2,3:11:21:2
51291,49885,39545,1.0,5,4,3:6:9:2:3,1:89:10:1
38536,49885,18455,1.0,5,3,3:6:9:2:3,1:89:10
25134,65269,17894,1.0,4,4,3:72:5:3,1:29:11:4
10620,65269,9481,1.0,4,5,3:72:5:3,1:29:11:4:1
36649,66641,9952,1.0,4,3,3:9:21:3,1:31:69
35137,66641,23828,1.0,4,4,3:9:21:3,1:31:69:1
10907,50665,7589,1.0,5,4,3:9:7:1:2,1:15:55:4
7530,50665,6578,1.0,5,5,3:9:7:1:2,1:15:55:4:1
2910,12008,2814,1.0,6,6,4:20:6:1:2:1,1:48:13:1:3:1
17186,12008,16525,1.0,6,5,4:20:6:1:2:1,1:48:13:1:3
3240,68639,2599,1.0,4,5,4:2:68:4,1:10:9:7:7
775,68639,705,1.0,4,6,4:2:68:4,1:10:9:7:7:1
1756,68893,1666,1.0,4,6,4:36:10:4,1:25:19:1:4:1
9060,68893,7997,1.0,4,5,4:36:10:4,1:25:19:1:4
1492,51980,1018,1.0,5,4,4:4:1:27:2,1:10:2:77
1656,51980,1442,1.0,5,5,4:4:1:27:2,1:10:2:77:3
1234,19033,877,1.0,3,4,4:53:6,1:10:27:14
1434,19033,1271,1.0,3,5,4:53:6,1:10:27:14:3
7879,70333,6868,1.0,4,5,4:6:44:3,1:15:8:32:1
12788,70333,7945,1.0,4,4,4:6:44:3,1:15:8:32

In [226]:
df = dfs[1]
x = df[df.cl_bottom.str.startswith('1:14:287:1')]
x

            pid    paper_rank            cl   cl_bottom cl_top
295673   523766  1.464810e-06  1:14:287:1:1  1:14:287:1      1
295675  1160092  1.705470e-07  1:14:287:1:3  1:14:287:1      1
295676  1160430  0.000000e+00  1:14:287:1:4  1:14:287:1      1
295674  3317235  8.299960e-07  1:14:287:1:2  1:14:287:1      1

In [227]:
df = dfs[0]
df[df.cl_bottom=='1:10:14:31']

           pid  paper_rank            cl   cl_bottom cl_top
142170  523766         0.0  1:10:14:31:1  1:10:14:31      1

In [228]:
pidyear = pd.read_csv('pID_year.txt', index_col=0, header=None, squeeze=True)

In [229]:
x['year'] = x.pid.map(pidyear)
x

/home/jason/.local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

            pid    paper_rank            cl   cl_bottom cl_top    year
295673   523766  1.464810e-06  1:14:287:1:1  1:14:287:1      1  1978.0
295675  1160092  1.705470e-07  1:14:287:1:3  1:14:287:1      1  1982.0
295676  1160430  0.000000e+00  1:14:287:1:4  1:14:287:1      1  1990.0
295674  3317235  8.299960e-07  1:14:287:1:2  1:14:287:1      1  1981.0

In [433]:
pd.DataFrame(pmis).sort_values('pmi', ascending=False)

         x_idx   y_idx       pmi
436001   55962  306230  1.000000
324627   86816  228614  1.000000
91021   205207   64183  1.000000
324601   45069  228593  1.000000
324609   66856  228598  1.000000
91016   218438   64180  1.000000
324614   66862  228603  1.000000
324617   66865  228606  1.000000
324618   66866  228607  1.000000
324665   66884  228638  1.000000
324894   67060  228814  1.000000
324686   66800  228656  1.000000
324688   66930  228658  1.000000
324722   66934  228681  1.000000
324723   66935  228682  1.000000
324724   66936  228683  1.000000
324725   66937  228684  1.000000
324726   66938  228685  1.000000
324592   66852  228589  1.000000
91026   205212   64186  1.000000
324591   66851  228588  1.000000
91031   218553   64190  1.000000
324476   66764  228505  1.000000
91071   245312   64216  1.000000
91070   245311   64215  1.000000
324479   66819  228508  1.000000
91064   245303   64210  1.000000
324495   66815  228520  1.000000
324498   66813  228523  1.000000
324519   93018  228538  1.000000
...        ...     ...       ...
340104   25007  238837  0.051672
342340   25007  239634  0.049900
373669   25007  256765  0.049799
335370   24505  236654  0.049584
338981   36388  238558  0.048714
338934   24287  238558  0.048189
338949   24764  238558  0.045356
192647  236789  138884  0.043673
337106   24752  237530  0.042848
335409   22784  236655  0.040007
373059   24752  256486  0.038572
339027   24752  238559  0.038365
335371   24506  236654  0.037910
338997   42833  238558  0.037762
338923   23381  238558  0.034787
338930   24162  238558  0.032038
338985   39197  238558  0.028304
343002   24752  239885  0.028102
342336   24752  239634  0.027247
340082   22784  238837  0.025751
342316   22784  239634  0.023632
338451   22784  238300  0.022706
373663   24752  256765  0.022124
338938   24506  238558  0.017323
338954   25302  238558  0.014535
338937   24505  238558  0.012447
335374   24752  236654 -0.003456
335362   22784  236654 -0.004815
338913   22784  238558 -0.027690
338948   24752  238558 -0.050889

[436002 rows x 3 columns]

In [434]:

i=0
for x, y, v in np.sort(pmis, order='pmi')[::-1]:
    left_cat = get_category_name_from_code(left, x)
    right_cat = get_category_name_from_code(right, y)
    print(left_cat, right_cat, v)
    i+=1
    if i>=20:
        break

('9:5:3', '2:201:4', 1.0)
('9:5:2', '2:201:3', 1.0)
('9:1:6', '2:167:6', 1.0)
('9:1:5', '2:167:5', 1.0)
('9:1:4', '2:167:4', 1.0)
('99:6', '101:6', 1.0)
('99:4', '101:4', 1.0)
('99:3', '101:3', 1.0)
('996:3', '992:3', 1.0)
('996:2', '992:2', 1.0)
('992:5', '988:5', 1.0)
('992:3', '988:3', 1.0)
('992:2', '988:2', 1.0)
('992:1', '988:1', 1.0)
('987:2:1', '983:1:1', 1.0)
('986:2:1', '982:2:1', 1.0)
('983:3', '979:3', 1.0)
('97:4', '99:4', 1.0)
('97:3', '99:3', 1.0)
('972:1', '968:1', 1.0)

In [466]:
df_pmis[(df_pmis.level_left==df_pmis.level_right)&(df_pmis.pmi>0)].sort_values('pmi', ascending=False)

       x_idx  y_idx       pmi  level_left  level_right
0          0      0       inf          12           12
0          0      0       inf          11           11
25980  64536  24208  1.000000           5            5
25974  64528  24202  1.000000           5            5
25968  64526  24196  1.000000           5            5
25967  64525  24195  1.000000           5            5
25957  64514  24185  1.000000           5            5
25948  64505  24176  1.000000           5            5
25946  64504  24174  1.000000           5            5
25929  64549  24158  1.000000           5            5
25928  53046  24157  1.000000           5            5
25926  64493  24155  1.000000           5            5
25925  64492  24154  1.000000           5            5
25918  64488  24147  1.000000           5            5
25914  64481  24143  1.000000           5            5
25912  64479  24141  1.000000           5            5
25908  55358  24137  1.000000           5            5
25894  57207  24124  1.000000           5            5
25892  64466  24122  1.000000           5            5
25887  64459  24117  1.000000           5            5
25878  64462  24108  1.000000           5            5
25875  62870  24105  1.000000           5            5
25873  62868  24103  1.000000           5            5
25978  64532  24206  1.000000           5            5
25982  64538  24210  1.000000           5            5
25865  64451  24095  1.000000           5            5
26032  64602  24260  1.000000           5            5
26087  62033  24312  1.000000           5            5
26082  62916  24307  1.000000           5            5
26081  62915  24306  1.000000           5            5
...      ...    ...       ...         ...          ...
113       42     71  0.000006           8            8
110       39     71  0.000006           8            8
108       37     71  0.000006           8            8
100       29     71  0.000006           8            8
128       57     71  0.000006           8            8
99        28     71  0.000006           8            8
94        23     71  0.000006           8            8
79         8     71  0.000006           8            8
76         5     71  0.000006           8            8
73         2     71  0.000006           8            8
71         0     71  0.000006           8            8
127       56     71  0.000006           8            8
130       59     71  0.000006           8            8
174      105     71  0.000006           8            8
150       79     71  0.000006           8            8
172      103     71  0.000006           8            8
170      101     71  0.000006           8            8
169      100     71  0.000006           8            8
166       97     71  0.000006           8            8
164       95     71  0.000006           8            8
156       85     71  0.000006           8            8
148       77     71  0.000006           8            8
134       63     71  0.000006           8            8
147       76     71  0.000006           8            8
146       75     71  0.000006           8            8
144       73     71  0.000006           8            8
139       68     71  0.000006           8            8
137       66     71  0.000006           8            8
135       64     71  0.000006           8            8
105       34     71  0.000006           8            8

[485955 rows x 5 columns]

In [467]:
df_pmis[(df_pmis.level_left!=df_pmis.level_right)&(df_pmis.pmi==1)].sort_values('pmi', ascending=False)

        x_idx   y_idx  pmi  level_left  level_right
10         96      10  1.0           2            3
183209  39509  142898  1.0           5            4
183311  12735  142982  1.0           5            4
183305  39600  142976  1.0           5            4
183304  39609  142975  1.0           5            4
183283  39612  142960  1.0           5            4
183269  39552  142950  1.0           5            4
183255  39549  142937  1.0           5            4
183222  39550  142911  1.0           5            4
183206  39506  142895  1.0           5            4
183344  12825  143015  1.0           5            4
183190  39491  142879  1.0           5            4
183182  39487  142871  1.0           5            4
183132  39737  142839  1.0           5            4
183125  39698  142834  1.0           5            4
183113  39701  142828  1.0           5            4
183112  39679  142827  1.0           5            4
183078  39658  142807  1.0           5            4
183312  12736  142983  1.0           5            4
183352  12808  143023  1.0           5            4
183556  19866  143181  1.0           5            4
183449  12715  143099  1.0           5            4
183543  40195  143168  1.0           5            4
183538  40228  143164  1.0           5            4
183537  40232  143163  1.0           5            4
183536  40231  143162  1.0           5            4
183470  40207  143118  1.0           5            4
183455  12721  143105  1.0           5            4
183451  12717  143101  1.0           5            4
183446  12712  143096  1.0           5            4
...       ...     ...  ...         ...          ...
89155   23386   44626  1.0           5            3
83263   38197   42184  1.0           5            3
106809  30214   46666  1.0           5            3
83250   38009   42174  1.0           5            3
82840   37206   41977  1.0           5            3
82809   10309   41963  1.0           5            3
82760   11481   41937  1.0           5            3
82751    4933   41934  1.0           5            3
82750    4932   41933  1.0           5            3
77351   12397   37650  1.0           5            3
90570   33611   45528  1.0           5            3
91978   21449   45590  1.0           5            3
92026   23008   45629  1.0           5            3
94589   20803   45782  1.0           5            3
106808  30213   46665  1.0           5            3
106807  30212   46664  1.0           5            3
106806  30211   46663  1.0           5            3
106805  30210   46662  1.0           5            3
106803  30208   46660  1.0           5            3
106800  32381   46657  1.0           5            3
106570   5486   46516  1.0           5            3
98084    8452   45979  1.0           5            3
98083    8451   45978  1.0           5            3
98079    8449   45974  1.0           5            3
98077    8448   45972  1.0           5            3
97822   27026   45957  1.0           5            3
94593   20800   45786  1.0           5            3
94591   20798   45784  1.0           5            3
94590   20797   45783  1.0           5            3
74291       0   74291  1.0          10            5

[20151 rows x 5 columns]

In [468]:
df_pmis[(df_pmis.level_left==df_pmis.level_right)&(df_pmis.pmi==1)].sort_values('pmi', ascending=False)

         x_idx  y_idx  pmi  level_left  level_right
34502    34455  34450  1.0           1            1
14636    55941  13357  1.0           5            5
14748    56216  13466  1.0           5            5
14743    56210  13461  1.0           5            5
14734    56199  13452  1.0           5            5
14733    56198  13451  1.0           5            5
14730    56195  13448  1.0           5            5
14715    56189  13434  1.0           5            5
14688    56174  13408  1.0           5            5
14687    56173  13407  1.0           5            5
14685    56171  13405  1.0           5            5
14681    56166  13401  1.0           5            5
14680    56167  13400  1.0           5            5
14679    56165  13399  1.0           5            5
14671    56152  13391  1.0           5            5
14670    56151  13390  1.0           5            5
14664    56142  13385  1.0           5            5
14660    56138  13381  1.0           5            5
14657    56133  13378  1.0           5            5
14652    56115  13373  1.0           5            5
14649    46997  13370  1.0           5            5
14646    55951  13367  1.0           5            5
14645    55950  13366  1.0           5            5
14755    56239  13473  1.0           5            5
14760    56244  13478  1.0           5            5
14764    56256  13482  1.0           5            5
14838    56017  13552  1.0           5            5
14884    55995  13597  1.0           5            5
14878    55974  13591  1.0           5            5
14874    56051  13588  1.0           5            5
...        ...    ...  ...         ...          ...
100068   94316  69848  1.0           4            4
99888    94239  69783  1.0           4            4
99885    94237  69780  1.0           4            4
99883    94236  69778  1.0           4            4
99882    94235  69777  1.0           4            4
100681   56804  70214  1.0           4            4
100759   91129  70258  1.0           4            4
101617  117917  70709  1.0           4            4
101091   94633  70416  1.0           4            4
101610   87492  70702  1.0           4            4
101598   86507  70690  1.0           4            4
101594   87482  70686  1.0           4            4
101592   87481  70684  1.0           4            4
101585   87477  70679  1.0           4            4
101578   87470  70672  1.0           4            4
101567   88166  70661  1.0           4            4
101356  102440  70570  1.0           4            4
101351   92642  70567  1.0           4            4
101089   94631  70414  1.0           4            4
100799   94214  70286  1.0           4            4
101088   94630  70413  1.0           4            4
101082   77334  70407  1.0           4            4
101029   88669  70382  1.0           4            4
101016   90968  70375  1.0           4            4
100992    1910  70367  1.0           4            4
100988   90950  70364  1.0           4            4
100825   88623  70309  1.0           4            4
100823  102778  70307  1.0           4            4
100818   91247  70304  1.0           4            4
39          94     39  1.0           8            8

[24941 rows x 5 columns]

In [469]:
df_pmis[df_pmis.x_idx==26791]

        x_idx   y_idx           pmi  level_left  level_right
26772   26791   26724  9.173829e-01           1            1
33882   26791    8141  1.449128e-01           1            2
94887   26791   64962  1.298092e-01           1            3
183838  26791  155415 -1.979733e-02           1            4
101416  26791   74391 -7.186238e-02           1            5
39398   26791   12587 -8.129154e-02           1            6
27867   26791    1076 -8.252207e-02           1            7
26862   26791      71 -8.261111e-02           1            8
26791   26791       0 -8.261713e-02           1            9
26791   26791       0 -8.261713e-02           1           10
26791   26791       0 -8.261713e-02           1           11
26791   26791       0 -8.261713e-02           1           12
25298   26791       0 -1.576835e-01           3            1
46906   26791    2308  2.732465e-01           3            2
64265   26791   22630  7.913831e-01           3            3
204851  26791  155415 -1.384859e-01           3            4
102846  26791   74391 -1.966105e-01           3            5
39463   26791   12587 -2.071370e-01           3            6
27867   26791    1076 -2.085108e-01           3            7
26862   26791      71 -2.086102e-01           3            8
26791   26791       0 -2.086169e-01           3            9
26791   26791       0 -2.086169e-01           3           10
26791   26791       0 -2.086169e-01           3           11
26791   26791       0 -2.086169e-01           3           12
157637  26791   22222  2.294652e-01           4            1
161881  26791    5057  7.111133e-01           4            2
219286  26791   62995  1.000000e+00           4            3
229870  26791  155415  5.802587e-02           4            4
105789  26791   74391  9.934031e-03           4            5
39669   26791   12587  1.224433e-03           4            6
27872   26791    1076  8.780906e-05           4            7
26862   26791      71  5.557690e-06           4            8
26791   26791       0 -7.711893e-18           4            9
26791   26791       0 -7.711893e-18           4           10
26791   26791       0 -7.711893e-18           4           11
26791   26791       0 -7.711893e-18           4           12
78336   26791   11111  7.188950e-02           5            1
85913   26791    4027  2.935447e-01           5            2
141788  26791   61886  6.734926e-01           5            3
190376  26791  149131  7.919088e-01           5            4
104446  26791   74391  9.934031e-03           5            5
39660   26791   12587  1.224433e-03           5            6
27880   26791    1076  8.780906e-05           5            7
26861   26791      71  5.557690e-06           5            8
26791   26791       0 -7.711893e-18           5            9
26791   26791       0 -7.711893e-18           5           10
26791   26791       0 -7.711893e-18           5           11
26791   26791       0 -7.711893e-18           5           12